<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= cl_image_tag("flats/bin.png", height: 30 , width: 20, crop: :fill) %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <%= link_to 'Add a flat', new_flat_path, class: "navbar-wagon-item navbar-wagon-link" %>


    <a href="" class="navbar-wagon-item navbar-wagon-link">Log in</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Sign up</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <!--   <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Our Logo</a>
    <form class="form-inline">
      <a class="btn btn-outline-primary" href="/login" role="button">
        Login
      </a>
      <div style="padding-left: 10px;">
        <a class="btn btn-outline-success" href="/signup" role="button">
          Sign Up
        </a>
      </div>
    </form>
  </nav>
 -->
