
#Box {
  border: 1px;
  width:400px;
  margin: auto;
}

dl dt {
  margin-left: 0;
}

.alert-success {
  // background-color: green;
  color: #82CFC7;
  font-size: 20px;
}

.far {
color: green;
font-size: 170px;
  margin: auto;
}

h1 {
  font-weight: bold;
  color: gray;
}

.payment {
  text-align: center;
}
#terms {
  font-weight: normal;
}
