<!-- <div class="container">
  <form class="simple_form" action="">
    <div class="input">
      <label for="">First</label>
      <input class="form-control" type="text">
    </div>
    <div class="input">
      <label for="">Last name</label>
      <input class="form-control" type="text">
    </div>
    <div class="input">
      <label for="">Payment Info</label>
      <input class="form-control" type="text">
    </div>
    <div class="input">
      <button class="btn btn-lg btn-success">Book flat</button>
    </div>
  </form>
</div>


