<div class="container">
  <form class="simple_form" action="">
    <div class="input">
      <label for="">First</label>
      <input class="form-control" type="text">
    </div>
    <div class="input">
      <label for="">Second</label>
      <input class="form-control" type="text">
    </div>
    <div class="input">
      <label for="">Third</label>
      <input class="form-control" type="text">
    </div>
    <div class="input">
      <input class="btn btn-lg btn-success" type="submit">
    </div>
  </form>
</div>_


