

<div class="rows">

<% @flats.each do |f| %>
  <div class="card col-sm-4">
    <%= cl_image_tag("flat#{f.id}.jpg", height: 200, width: 300, crop: :fill) %>
    <div class = "card-description"> <h2> <%= f.name.capitalize %> </h2> </div>
     <div class="card-category btn btn-default btn-sm"><%= link_to "See", "/flats/#{f.id}"%></div>
  </div>
<% end %>
