<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/_banner.scss">
<style type="text/css">
  .banner {
  color: darkgray;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}


.banner {
  background: $blue;
  color: white;
  h1 {
    font-size: 50px;
  }
  a {
    color: $blue;
    &:hover {
      color: darken($blue, 10%);
    }
  }
}



 .footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
input {
  color: gray;
  border-radius: 6px;
   border: 0;
}
.btn btn-primary btn-lg{
      width: 180px;
    /* height: 37px; */
    text-align: end;
    text-align-last: center;
    border-radius: 4px;
}

</style>
</head>
<body>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://metrouk2.files.wordpress.com/2015/05/ad_169222367.jpg?quality=90&strip=all&zoom=1&resize=644%2C483');">
  <div class="banner-content">
    <h1>Trash Airbnb <i class="far fa-trash-alt"></i></h1> <!-- <div  style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://cdn2.iconfinder.com/data/icons/cleaning-19/30/30x30-10-512.png');"></div></h1> -->
    <p>Find the shittiest places.</p>
    <input type="text" id="search" placeholder="Location" >
    <input id="date" type="date" placeholder="Check-in" >
    <input id="date" type="date" placeholder="Checkout">
<select name="os" style="
    color: gray;
    font-weight: 200;
">
   <option value="1">super trash</option>
   <option value="2">trash</option>
   <option value="3">the trashiest</option>
</select>
    <button type="button" class="btn btn-danger">Search</a>
  </div>
</div>







<div class="footer">
  <div class="footer-links">

    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon. Powered by Marie, Evgeniya and Roger <i class="far fa-copyright"></i>
  </div>
</div>

</body>
</html>
