<!-- <div id="Box">
  <p>Detail Message</p>
  <div class="alert alert-success">
    <strong>Payment succesful! <i class="far fa-check-circle"></i></strong>
  </div>
  <dl class="dl-horizontal">
    <p>Good luck!</p>
    <dt>Order&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID</dt>
    <dd>003</dd>
    <dt>Order&nbsp;&nbsp; Date &nbsp; </dt>
    <p id="date"> </p>
    <script>
    document.getElementById("date").innerHTML = Date();
    </script>
  </dl>
</div>
 -->
<div class="payment">
   <br>
  <br>
 <i class="far fa-check-circle"></i>
  <h1> Thank You! </h1>
  <dl>
  <dt>Your payment is succesfully done.</dt>
  <dt id="terms"> Trashbnb is not responsible for any damages to your physical or mental health.</p></dt>
  <br>
  <br>
   <br>
  <br> <br>
  <br> <br>
  <br>
</div>
