h2 {
  text-align: center;
}

.form-login {
  padding: 12px 24px;
  margin-top: 50px;
  border-radius: 3px;


  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  .btn {
    color: #cc222d;
    width: 100%;
    margin-bottom: 20px;
    background-color: grey;
  }
}

.forgot-password {
  text-align: center;
}
